  <div class="container-fluid ">
    <!-- Footer -->
    <footer class="text-center text-lg-start footer-bg footer-text">
      <!-- Grid container -->
      <div class="container p-4 pb-0">
        <!-- Section: Links -->
        <section class="">
          <!--Grid row-->
          <div class="row">
            <!--Grid column - Contenido a la izquierda -->
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0 content-left">
               <h5 class="text-uppercase footer-headings">Peluquería Luxury</h5>

              <p>
                Especializados en atención de calidad: no eres feo, solo te falta un corte de cabello.
              </p>
              
            </div>
            <!--Grid column-->

            <!--Grid column - Links a la derecha -->
            <div class="col-lg-6 col-md-12 links-right">
              <div class="row">
                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0 footer-links">
                  <h5 class="text-uppercase footer-headings">Enlaces</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!">Inicio</a>
                    </li>
                    <li>
                      <a href="#!">Servicios</a>
                    </li>
                    <li>
                      <a href="#!">Precios</a>
                    </li>
                    <li>
                      <a href="#!">Contacto</a>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-md-6 mb-4 mb-md-0 footer-links">
                  <h5 class="text-uppercase footer-headings">Más</h5>

                  <ul class="list-unstyled mb-0">
                    <li>
                      <a href="#!">Sobre Nosotros</a>
                    </li>
                    <li>
                      <a href="#!">Blog</a>
                    </li>
                    <li>
                      <a href="#!">Galería</a>
                    </li>
                    <li>
                      <a href="#!">Testimonios</a>
                    </li>
                  </ul>
                </div>
                <!--Grid column-->
              </div>
            </div>
            <!--Grid column-->
          </div>
          <!--Grid row-->
        </section>
        <!-- Section: Links -->

        <hr class="my-4 divider" />

        <!-- Section: Social media -->
        <section class="mb-4 text-center">
          <!-- Facebook -->
          <a
             class="btn social-btn btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-facebook-f"></i
            ></a>

          <!-- Twitter -->
          <a
             class="btn social-btn btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-twitter"></i
            ></a>

          <!-- Instagram -->
          <a
             class="btn social-btn btn-floating m-1"
             href="#!"
             role="button"
             ><i class="fab fa-instagram"></i
            ></a>

        </section>
        <!-- Section: Social media -->
      </div>
      <!-- Grid container -->

      <!-- Copyright -->
      <div
           class="text-center p-3 copyright-bg footer-text"
           >
        © 2023 Copyright:
        <a class="footer-text" href="#!"
           >Luxury.com</a
          >
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
  </div>