<div class="container-fluid">
  <!-- Footer -->
  <footer class="text-center text-lg-start footer-bg footer-text">
    <div class="container p-4 pb-0">
      <!-- Section: Links -->
      <section>
        <div class="row">
          <!-- Col izquierda -->
          <div class="col-lg-6 col-md-12 mb-4 mb-md-0 content-left">
            <h5 class="text-uppercase footer-headings">Peluquería Luxury</h5>
            <p>
              Especializados en atención de calidad: no eres feo, solo te falta un corte de cabello.
            </p>
          </div>

          <!-- Col derecha -->
          <div class="col-lg-6 col-md-12 links-right">
            <div class="row">
              <!-- Enlaces -->
              <div class="col-lg-6 col-md-6 mb-4 mb-md-0 footer-links">
                <h5 class="text-uppercase footer-headings">Enlaces</h5>
                <ul class="list-unstyled mb-0">
                  <li><a routerLink="/catalogo" routerLinkActive="active">Inicio</a></li>
                  <li><a routerLink="/catalogo" routerLinkActive="active">Servicios</a></li>
                  <li><a routerLink="/catalogo" routerLinkActive="active">Precios</a></li>
                  <li><a href="#!">Contacto</a></li>
                </ul>
              </div>

              <!-- Más + Botones de vista -->
              <div class="col-lg-6 col-md-6 mb-4 mb-md-0 footer-links">
                <h5 class="text-uppercase footer-headings">Más</h5>
                <ul class="list-unstyled mb-3">
                  <li><a href="#!">Sobre Nosotros</a></li>
                  <li><a href="#!">Blog</a></li>
                  <li><a href="#!">Galería</a></li>
                  <li><a href="#!">Testimonios</a></li>
                </ul>
                
              </div>
            </div>
          </div>
          <!-- /Col derecha -->
        </div>
      </section>

      <hr class="my-4 divider" />

      <!-- Social -->
      <section class="mb-4 text-center">
        <a class="btn social-btn btn-floating m-1" href="#!" role="button" aria-label="Facebook">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a class="btn social-btn btn-floating m-1" href="#!" role="button" aria-label="Twitter">
          <i class="fab fa-twitter"></i>
        </a>
        <a class="btn social-btn btn-floating m-1" href="#!" role="button" aria-label="Instagram">
          <i class="fab fa-instagram"></i>
        </a>
      </section>
    </div>

    <!-- Copyright -->
    <div class="text-center p-3 copyright-bg footer-text">
      © 2024 Copyright:
      <a class="footer-text" href="#!">Luxury.com</a>
    </div>
  </footer>
  <!-- /Footer -->
</div>
