<footer class="text-center text-lg-start footer-bg footer-text w-100">
  <div class="container p-4 pb-0">

    <section>
      <div class="row">

        <div class="col-lg-6 col-md-12 mb-4 mb-md-0 content-left">
          <h5 class="text-uppercase footer-headings">Peluquería Luxury</h5>
          <p>
            Especializados en atención de calidad: no eres feo, solo te falta un corte de cabello.
          </p>
        </div>

        <div class="col-lg-6 col-md-12 links-right">
          <div class="row">
            <div class="col-lg-6 col-md-6 mb-4 mb-md-0 footer-links">
              <h5 class="text-uppercase footer-headings">Enlaces</h5>
              <ul class="list-unstyled mb-0">
                <li><a routerLink="/catalogo">Inicio</a></li>
                <li><a routerLink="/catalogo">Servicios</a></li>
                <li><a routerLink="/catalogo">Precios</a></li>
                <li><a href="#!">Contacto</a></li>
              </ul>
            </div>

            <div class="col-lg-6 col-md-6 mb-4 mb-md-0 footer-links">
              <h5 class="text-uppercase footer-headings">Más</h5>
              <ul class="list-unstyled mb-3">
                <li><a href="#!">Sobre Nosotros</a></li>
                <li><a href="#!">Blog</a></li>
                <li><a href="#!">Galería</a></li>
                <li><a href="#!">Testimonios</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="my-4 divider" />

    <section class="mb-4 text-center">
      <a class="btn social-btn btn-floating m-1"><i class="fab fa-facebook-f"></i></a>
      <a class="btn social-btn btn-floating m-1"><i class="fab fa-twitter"></i></a>
      <a class="btn social-btn btn-floating m-1"><i class="fab fa-instagram"></i></a>
    </section>

  </div>

  <div class="text-center p-3 copyright-bg footer-text">
    © 2024 Copyright:
    <a class="footer-text" href="#!">Luxury.com</a>
  </div>
</footer>
