body {
    overflow-x: hidden; /* Evita el desbordamiento horizontal */
  }

.contenedor {
    min-height:50vh;
    position:relative;  
   }   
footer{    
    padding:15px;
}

html, body {
  height: 100%;
  margin: 0;
}

.app-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}


